body {
    background-color: #ffffff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #607d8b;
}

a {
    color: #3f51b5;
}

div.container {
    padding: 20px 0;
}

div.header {
    background-color: #d32f2f;
    padding: 60px;
    margin-bottom: 25px;
}

h1.title {
    text-align: center;
    font-size: 70px;
    font-weight: normal;
    color: #eeeeee;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sh-button {
    border-radius: 50px;
    border: none;
    background: #607d8b;
    color: #fff;
    padding: 5px 20px;
    transition: all .2s ease-in-out;
}

.sh-button:hover, .sh-button:focus {
    outline: none;
    background: #37474f;
    color: #fff;
    text-decoration: none;
}

footer {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #37474f;
}

footer * {
    color: #eceff1;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

footer a {
    font-weight: bold;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer .heart {
    animation: heart-beat 1s alternate infinite;
    color: #ef5350;
}

@keyframes heart-beat {
  0%   { transform: scale(1); }
  100% { transform: scale(0.7) }
}
