a.primary-cta {
  display: block;
  background: #3f51b5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  padding: 13px 0;
  border-radius: 50px;
  max-width: 400px;
  margin: 0 auto;
  font-size: 14.4px;
  transition: all 0.3s ease-in-out;
}

a.primary-cta:hover {
  background: #32408f;
  padding: 13px 30px;
  text-decoration: none;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

section.free-courses h3 {
  margin-top: 0px;
  font-size: 24px;
  color: #37474f;
  font-weight: 600;
  text-transform: uppercase;
}

section.free-courses div.course {
  background-color: #fff;
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 4px;
  box-shadow: 0 5px 30px rgba(0,0,0, 0.15);
  margin-bottom: 20px;
}

section.free-courses div.course img {
  width: 450px;
}

section.free-courses div.cta-wrapper {
  text-align: center;
  margin-top: 20px;
}

section.free-courses div.course-details {
  padding-left: 20px;
}

section.training {
  background: #eceff1;
  color: #37474f;
}

section.training h3 {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section.training h4 {
  font-weight: 600;
}

section.training p + h4 {
  margin-top: 20px;
}

section.training li {
  margin-bottom: 5px;
}

section.training div.training-details > .col-md-6:nth-of-type(2) {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

section.training div.training-details > .col-md-6 {
  padding-left: 0px;
  padding-right: 20px;
}

section.training div.training-details {
  margin-bottom: 20px;
}

section.training .training-topics li:before {
  content: "\2714";
  color: #70BB40;
  font-size: 20px;
}

section.training .training-topics li > span {
  position: relative;
  left: 10px;
}

section.training .training-topics ul {
  list-style: none;
  margin-left: 0px;
  margin-top: 10px;
  padding-left: 10px;
}

section.training .training-topics ul {
  font-size: 18px;
}

section.training .training-topics {
  margin-bottom: 20px;
  border: 1px solid #70BB40;
  border-left: 10px solid  #70BB40;
  border-radius: 5px;
  margin-right: 0px;
  padding: 10px 20px;
}

section.training .training-topics h4 {
  font-size: 24px;
}
