div.video-row {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    border-radius: 4px;
    box-shadow: 0 5px 30px rgba(0,0,0, 0.15);
}

div.video-row h2 {
    color: #37474f;
    margin-bottom: 20px;
}

div.video {
    padding: 20px;
}

div.video-details {
    padding-left: 40px;
    height: 370px;
    position: relative;
}

div.video-details > div.spider {
    position: absolute;
    bottom: 20;
}

h3 {
    font-size: 14px;
    margin-top: 0px;
    color: #37474f;
    font-weight: 600;
}

div.code {
    width: 100%;
    clear: both;
}

pre {
    margin: 0 20px 20px 20px;
}
