---
layout: default
title: Scrapinghub Learning Center
---
<section class="on-demand-courses">
    <h2>On demand training</h2>
    <div class="wrap container-fluid">

        <div class="courses">
            <!-- Scrapy  -->
            <div class="row course-summary">
                <div class="col-md-3 course-icon">
                    <h2>Learn Scrapy</h2>
                    {% include icons/icon-scrapy.svg %}
                    <a href="{{ site.baseurl }}/scrapy" class="primary-cta">Get started</a>
                </div>
                <div class="col-md-9">

                    <h3>With the evergrowing amount of data spread around the web, the need for gathering and structuring that data is also increasing day by day. This is exactly where web scraping comes into play.</h3>
                    <p>In this quick course, you'll learn everything you need to get started with web scraping using Python and Scrapy. Among other things, you'll learn how to:</p>
                    <ul>
                        <li>Extract data from the web using CSS selectors</li>
                        <li>Follow pagination buttons with a spider</li>
                        <li>Handle websites that use infinite scrolling</li>
                        <li>Authenticate your spider in a website</li>
                        <li>Deploy and run your spiders in the cloud</li>
                    </ul>
                </div>
            </div>
            <!-- Portia -->
            <div class="row course-summary">
                <div class="col-md-3 course-icon">
                    <h2>Learn Portia</h2>
                    {% include icons/icon-portia.svg %}
                    <a href="{{ site.baseurl }}/portia" class="primary-cta">Get started</a>
                </div>
                <div class="col-md-9">
                    <h3>If you have no programming background and want to scrape the web, Portia was designed specially for you. Portia lets you point and click the fields that you want to extract from a page and it will smartly apply your selections to any similar pages that it finds in the website that you are crawling.</h3>
                    <p>In this course you will learn how to:</p>
                    <ul>
                        <li>Scrape data from the web into a spreadsheet</li>
                        <li>Create spiders that navigate into a website</li>
                        <li>Use dynamic URL generation to navigate into a page</li>
                        <li>Extract data behind login forms</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="training">
    <div class="wrap container-fluid">
        <div class="col-md-offset-1 col-md-10 col-md-offset-1">
            <h2>Private training</h2>
            <h3>Crawling the Web with Scrapy</h3>
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="col-md-11">
                    <h4>About</h4>
                    <p>This training program is all you need to get you and your team started with <a href="https://scrapy.org">Scrapy</a> and other popular web scraping technologies. You'll start from the very basics of data extraction and gradually head towards the most common challenges that you'll face in your daily jobs as web scraping experts.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-11">
                    <h4>Requirements</h4>
                    <ul>
                        <li>Basic Python knowledge</li>
                        <li>A basic understanding of how the web works</li>
                        <li>Basic HTML and CSS selectors syntax</li>
                    </ul>
                    <p>Check out a <a href="http://github.com/scrapinghub/scrapy-training">preview of the course material.</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-map" aria-hidden="true"></i>
                </div>
                <div class="col-md-11">
                    <h4>Organization</h4>
                    <p>This program consists of 6 one-hour units spread around two weeks:</p>
                    <ul>
                        <li>Extracting data with Scrapy (1h)</li>
                        <li>Navigating websites with Scrapy (1h)</li>
                        <li>Running Spiders in the Cloud (1h)</li>
                        <li>Handling HTML Forms (1h)</li>
                        <li>Scraping JavaScript based pages (1h)</li>
                        <li>Extending Scrapy (1h)</li>
                    </ul>
                    <p>Right after a unit, each trainee gets 30 minutes of individual coaching with the instructor.</p>
                </div>
            </div>
            <div class="training-topics">
                <h3>What you'll learn</h3>
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Extract data from web pages using CSS selectors</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Build crawlers that follow through the links in a website</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Simulate the user behavior in your spiders</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Scrape JavaScript-based websites</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Identify the best strategy to deal with challenges</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Extract data hidden behind login walls</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Extend Scrapy via middlewares and pipelines</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> A toolset to scrape effectively</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Best practices in web scraping and web crawling</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Deploy and run your crawlers in a cloud platform</li>
                </ul>
            </div>
        </div>

    </div>

        <a href="https://scrapinghub.com/quote/" class="primary-cta">Schedule a training</a>
</section>

{% include footer.html %}
