---
layout: default
title: Learn Portia
permalink: /portia/
stylesheet: free-course.css
---
<div class="container">
    {% for video in site.data.portia-videos %}
    <div class="row video-row">
        <div class="col-md-6 video">
            <iframe width="560" height="330" src="https://www.youtube.com/embed/{{ video.id }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 video-details">
            <h2 id="unit{{ forloop.index }}">{{ forloop.index }}. {{ video.title }}</h2>
            <p>{{ video.description }}</p>
            <h3>Topics</h3>
            <ul>
                {% for topic in video.topics %}
                <li>{{ topic }}</li>
                {% endfor %}
            </ul>
            <h3>Further Reading</h3>
            <ul>
                {% for ref in video.references %}
                <li><a href="{{ ref.url }}">{{ ref.description }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% include footer.html %}
