{% include head_tagmanager.html %}
<title>{{ page.title }}</title>
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
<script>hljs.initHighlightingOnLoad();</script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />

{% for js_file in page.custom_js_files %}
    <script src='{{ site.url }}/assets/js/{{ js_file }}' type="text/javascript"></script>
{% endfor %}

<script>

</script>
