body {
    background: $lightest-gray;
    font-family: $base-font;
    color: $medium-gray;
}

a {
    color: #3f51b5;
}

p, ul, ul li {
    font-size: $base-font-size;
    line-height: $base-font-size * 1.7;
}
.wrap {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}

.page-header {
    background: $red;
    padding: 80px 0 80px;
    text-align: center;
    h1 {
        font-weight: 100;
        font-size: $base-font-size * 3.2;
        letter-spacing: 1px;
        color: $white;
    }
    h2 {
        font-weight: lighter;
        font-size: $base-font-size * 0.9;
        color: $white;
        letter-spacing: 1px;
    }
}

a.primary-cta {
  display: block;
  background: #3f51b5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  padding: 13px 0;
  border-radius: 50px;
  max-width: 400px;
  margin: 0 auto;
  font-size: 14.4px;
  transition: all 0.3s ease-in-out;
      &:hover {
          background: #32408f;
          padding: 13px 30px;
          text-decoration: none;
      }
}

.on-demand-courses {
    padding: 30px 0;
    font-size: $base-font-size * 1.5;
    h2 {
        text-align: center;
        color: $dark-gray;
        font-size: $base-font-size * 2.2;
    }
}

.course-summary {
    padding: 50px 0 30px;
    h2 {
        margin-bottom: 0px;
        font-size: $base-font-size * 1.8;
    }
    h3 {
        color: $medium-gray;
        font-size: $base-font-size * 0.9;
        line-height: $base-font-size * 1.5;
        background: $light-gray;
        padding: 20px;
        border-radius: 3px;
    }
    ul {
        margin-bottom: 30px;
        li {
            list-style-type: disc;
            margin-left: 20px;
            padding-left: 0;
        }
    }
    a {
        margin-bottom: 20px;
        margin-left: 0;
    }
    &:first-child {
        border-bottom: 2px solid $light-gray;
    }
}

.course-icon {
    text-align: center;
    svg {
        width: 150px;
        margin: 0 auto;
        fill: $dark-gray;
    }
}
.training {
    background: $light-gray;
    padding: 60px 0;
    h2 {
        text-align: center;
        color: $dark-gray;
        margin-bottom: 30px;
        font-size: $base-font-size * 2.2;
    }
    h3 {
        font-size: $base-font-size * 1.8;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        &:after {
            content: "";
            display: block;
            width: 100px;
            height: 2px;
            margin: 10px auto 0 auto;
            background: $dark-gray;
        }
    }
    h4 {
        color: $dark-gray;
        font-size: $base-font-size * 1.5;
        margin-bottom: 10px;
    }
    p {
        margin: 0;
    }
    ul {
        li {
            list-style-type: disc;
            margin-left: 20px;
            padding-left: 0;
        }
    }
    div {
        padding-bottom: 10px;
    }
    .fa {
        font-size: $base-font-size * 2;
        color: darken($light-gray, 20%);
    }
}

.training-topics {
    background: lighten($green, 10%);
    padding: 30px 0 50px 50px;
    border-radius: 5px;
    margin: 20px 0;
    h3 {
        color: $white;
        &:after {
            background: $white;
        }
    }
    ul {
        padding-bottom: 30px;
        li {
            list-style-type: none;
            margin: 0;
            color: $white;
            padding-bottom: 5px;
        }
    }
    .fa {
        color: $white;
        font-size: $base-font-size * 1.5;
        margin-right: 5px;
        vertical-align: middle;
    }
}

footer {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #37474f;
}

footer * {
    color: #eceff1;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

footer a {
    font-weight: bold;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer .heart {
    animation: heart-beat 1s alternate infinite;
    color: $red;
}

@keyframes heart-beat {
  0%   { transform: scale(1); }
  100% { transform: scale(0.7) }
}

// Free courses

div.video-row {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    border-radius: 4px;
    box-shadow: 0 5px 30px rgba(0,0,0, 0.15);
}

div.video-row h2 {
    color: #37474f;
    margin-bottom: 20px;
}

div.video {
    padding: 20px;
}

div.video-details {
    padding-left: 40px;
    height: 370px;
    position: relative;
}

div.video-details > div.spider {
    position: absolute;
    bottom: 20;
}

h3 {
    font-size: 14px;
    margin-top: 0px;
    color: #37474f;
    font-weight: 600;
}

div.code {
    width: 100%;
    clear: both;
}

pre {
    margin: 0 20px 20px 20px;
}
