//Variables
    // Fonts
    $base-font: "Open Sans", Helvetica, Arial, sans-serif;
    $base-font-size:   16px;
    $base-font-weight: 400;
    $base-line-height: 1.5;

    // Colors
    $white: #fff;
    $black: #000;

    $darkest-gray: #263238;
    $dark-gray: #37474f;
    $medium-gray: #607d8b;
    $light-gray: #eceff1;
    $lightest-gray: #fafafa;

    $purple: #3f51b5;

    $red: #d32f2f;

    $green: #4caf50;

    $plan-green: #81c784;
    $plan-yellow: #ffd54f;
    $plan-orange: #ffa726;
    $plan-red: #ff7043;
    $plan-purple: #5c6bc0;


    //transition
    $normal-transition: all 0.3s ease-in-out;
