<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include body_tagmanager.html %}
        <div class="page-header">
            <h1>{{ page.title }}</h1>
            {% unless page.title == 'Scrapinghub Learning Center' %}
                <h2>
                    <a href="{{ site.baseurl }}/" class="back-button"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Learning center</a>
                </h2>
            {% endunless %}
        </div>
        {{ content }}
    </body>
</html>
